<% provide(:title, "Sign in") %>
<br>
<h1>Sign in</h1>

<div align="center">
  <table width="275px" border="0" cellpadding="0"   cellspacing="2">
    <%= form_for(:session, url: sessions_path) do |f| %>
      <tr>
        <td width="120" class="fields">
          <%= f.text_field :email_username %>
        </td>
        <td width="120" class="fields">
          <%= f.password_field :password %>
        </td>
        <td width="120" class="fields">
          <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
        </td>
      </tr>
      <tr>
        <td width="120" class="fields">
          <%= f.label :email_username, "Username" %>
        </td>
        <td width="120" class="fields">
          <%= f.label :password %>
        </td>
    <% end %>
  </table>
</div>