<table width="auto" border="0" cellspacing="10" cellpadding="0" id="acct_tab">
  <tr>
    <td width="50%"><div align="right">
      <%= f.label :username %>
    </td>
    <td width="50%"><div align="left">
      <%= f.text_field :username %>
    </td>
  </tr>
  <tr>
    <td width="50%"><div align="right">
      <%= f.label :password %>
    </td>
    <td width="50%"><div align="left">
      <%= f.password_field :password %>
    </td>
  </tr>
  <tr>
    <td width="50%"><div align="right">
      <%= f.label :password_confirmation, "Confirm Password" %>
    </td>
    <td width="50%"><div align="left">
      <%= f.password_field :password_confirmation %>
    </td>
  </tr>
  <tr>
    <td width="50%"><div align="right">
      <%= f.label :age_group, "Age Group" %>
    </td>
    <td width="50%"><div align="left">
      <%= select(:child, :age_group, age_groups) %>
    </td>
  </tr>
</table>