<div align="left"><%= image_tag("spacer.gif") %><span class="par_mod_header">Health Meter</span>
</div>        
<hr color="#e99723" align="left" width="95%"/>
<p align="center">&nbsp;</p>
<p align="center"><%= image_tag("piechart.png", size: "167x167") %></p>
<div align="center">
  <p>&nbsp;</p>
  <table width="auto" border="0" align="center" cellpadding="0" cellspacing="5">
    <tr>
      <td class="player_left">Exercise</td>
      <td><%= image_tag("pie_green.png", alt: "physical exercise", width: "13", height: "13") %></td>
      <td class="player_right">&lt;&lt;25%&gt;&gt;</td>
    </tr>
    <tr>
      <td class="player_left">Nutrition</td>
      <td><%= image_tag("pie_red.png", alt: "nutrition", width: "13", height: "13") %></td>
      <td class="player_right">&lt;&lt;15%&gt;&gt;</td>
    </tr>
    <tr>
      <td class="player_left">Academic</td>
      <td><%= image_tag("pie_orange.png", alt: "academic", width: "13", height: "13") %></td>
      <td class="player_right">&lt;&lt;40%&gt;&gt;</td>
    </tr>
    <tr>
      <td class="player_left">Community</td>
      <td><%= image_tag("pie_blue.png", alt: "community", width: "13", height: "13") %></td>
      <td class="player_right">&lt;&lt;3%&gt;&gt;</td>
    </tr>
    <tr>
      <td class="player_left">Music/Art</td>
      <td><%= image_tag("pie_yellow.png", alt: "the arts", width: "13", height: "13") %></td>
      <td class="player_right">&lt;&lt;7%&gt;&gt;</td>
    </tr>
    <tr>
      <td class="player_left">Other</td>
      <td><%= image_tag("pie_navy.png", alt: "other", width: "13", height: "13") %></td>
      <td class="player_right">&lt;&lt;10%&gt;&gt;</td>
    </tr>
  </table>
</div>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
</td>
