<div id="par_content">
  <div align="center">
    <table width="920" border="0" cellspacing="5" cellpadding="10" >
        <tr valign="top">
          <td width="890" align="left" valign="top">
            <table width="102%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="26%" valign="top">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td class="plavatar">
                        <% avatar = "avatars/#{@child.avatar}.png" %>
                        <%= image_tag(avatar, style: "width: 100%; height: 100%;") %>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td class="plname"><%= current_user.username %></td>
                          </tr>
                          <tr>
                            <td class="plstats">Experience Points: <%= current_user.points %></td>
                          </tr>
                        </table>
                        <p>&nbsp;</p>
                      </td>
                    </tr>
                </table>
              </td>
              <td width="74%" valign="top">
                <div align="right">
                  <table width="650px" border="0" cellspacing="0" cellpadding="0" style="border-spacing: 0px;">
                    <tr>
                      <td width="328" height="245" class="plmodspos" style="border-spacing: 0px;">
                          <%= image_tag('playerdash/Quests_01.png', alt: 'Quests', size: '250x25') %>
                          <%= image_tag('endcap.png', size: '25x25') %>
                        <table width="275px" border="0" cellspacing="3" cellpadding="0">
                          <tr><td><h4>Assigned Challenges</h4></td></tr>
                          <% for assigned_challenge in @assigned_challenges do %>
                            <tr>
                              <td class="desc"><%= "#{assigned_challenge.challenge.name} for #{assigned_challenge.points} points" %></td>
                              <td><%= image_tag('check.png', alt: 'accept', size: '15x16') %></td>
                              <td><%= image_tag('x.png', alt: 'decline', size: '17x17') %></td>
                            </tr>
                          <% end %>
                          <tr><td><br/></td></tr>
                          <tr><td><h4>Accepted Challenges</h4></td></tr>
                          <% for accepted_challenge in @accepted_challenges do %>
                            <tr>
                              <td class="desc"><%= "#{accepted_challenge.challenge.name} for #{accepted_challenge.points} points" %></td>
                              <td><%= image_tag('check.png', alt: 'complete', size: '15x16') %></td>
                              <td><%= image_tag('x.png', alt: 'decline', size: '17x17') %></td>
                            </tr>
                          <% end %>
                        </table>                    
                        <!--<p align="center">
                          <span class="prevnext">
                            <a href="#">&lt;&lt;</a>
                          </span> 
                          <%= image_tag('spacer.gif') %>
                          <span class="prevnext">
                            <a href="#">&gt;&gt;</a>
                          </span>
                        </p>-->
                      </td>
                      <td width="322" height="245" class="plmodspos">
                          <%= image_tag('playerdash/Quests_01.png', alt: 'Quests', size: '250x25') %>
                          <%= image_tag('endcap.png', size: '25x25') %>
                        <table width="90%" border="0" cellspacing="3" cellpadding="0">
                          <tr><td><h4>Enabled Rewards</h4></td></tr>
                          <% for enabled_reward in @enabled_rewards do %>
                            <tr>
                              <td class="desc"><%= "#{enabled_reward.reward.name} for #{enabled_reward.points} points" %></td>
                              <td><%= image_tag('check.png', alt: 'redeem', size: '15x16') %></td>
                              <td><%= image_tag('x.png', alt: 'decline', size: '17x17') %></td>
                            </tr>
                          <% end %>
                        </table>
                        <!--<p align="center">
                          <span class="prevnext">
                            <a href="#">&lt;&lt;</a>
                          </span> 
                          <%= image_tag('spacer.gif') %>
                          <span class="prevnext">
                            <a href="#">&gt;&gt;</a>
                          </span>
                        </p>-->
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
<!--end #feature-->

 <!--end #content-->