<% provide(:title, "Edit child") %> 
<br>
<% if signed_in_as_parent? %>
<h1>Update your child's information</h1>
<% end %>

<div id="par_content">
<!--Children cannot edit their own information-->
<%= form_for(@child) do |f| %>
<%= render 'shared/error_messages' %>
<% if signed_in_as_parent? %><!--Parent can edit username, etc-->
  

<div align="center">
<table width="auto" border="0" cellspacing="10" cellpadding="0" id="acct_tab">
  <tr>
    <td width="50%"><div align="right">
      <%= f.label :username %>
    </td>
    <td width="50%"><div align="left">
      <%= f.text_field :username %>
    </td>
  </tr>
  <tr>
    <td width="50%"><div align="right">
      <%= f.label :password %>
    </td>
    <td width="50%"><div align="left">
      <%= f.password_field :password %>
    </td>
  </tr>
  <tr>
    <td width="50%"><div align="right">
      <%= f.label :password_confirmation, "Confirm Password" %>
    </td>
    <td width="50%"><div align="left">
      <%= f.password_field :password_confirmation %>
    </td>
  </tr>
  <tr>
    <td width="50%"><div align="right">
      <%= f.label :age_group, "Age Group" %>
    </td>
    <td width="50%"><div align="left">
      <%= select(:child, :age_group, age_groups) %>
    </td>
  </tr>
</table>
<% end %>


    <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
</div>
</div>
