<% provide(:title, "Edit child") %> 
<br>
<% if signed_in_as_parent? %>
<h1>Update your child's information</h1>
<% end %>

<!--Children cannot edit their own information-->

<%= render 'shared/error_messages' %>
  <%= form_for(@child) do |f| %>
  <!--<% render partial: 'child_form', locals: { f: f } %>-->
  <div id="par_content">
  <div align="center">
  <% if signed_in_as_parent? %>
    <table width="auto" border="0" cellspacing="10" cellpadding="0" id= "acct_tab">
      <tr>
        <td width="50%"><div align="right">
          <%= f.label :username %>
        </td>
        <td width="50%"><div align="left">
          <%= f.text_field :username %>
        </td>
      </tr>
      <tr>
        <td width="50%"><div align="right">
          <%= f.label :password %>
        </td>
        <td width="50%"><div align="left">
          <%= f.password_field :password %>
        </td>
      </tr>
      <tr>
        <td width="50%"><div align="right">
          <%= f.label :password_confirmation, "Confirm Password" %>
        </td>
        <td width="50%"><div align="left">
          <%= f.password_field :password_confirmation %>
        </td>
      </tr>
      <tr>
        <td width="50%"><div align="right">
          <%= f.label :age_group, "Age Group" %>
        </td>
        <td width="50%"><div align="left">
          <%= select(:child, :age_group, age_groups) %>
        </td>
      </tr>
    </table>
  <% end %>
<h3>Select an Avatar!<h3>
<br>
    <table width="100%" border="0" cellspacing="10" cellpadding="0">
      <tr>
        <td width="20%" align="center">
          <%= image_tag("avatars/hm_hero_home.png", :size => "150x200") %>
        </td>
        <td width="20%" align="center">
          <%= image_tag("avatars/lion_lt.png", :size => "150x200") %>
        </td>        
        <td width="20%" align="center">
          <%= image_tag("avatars/arrow.png", :size => "150x200") %>
        </td>
        <td width="20%" align="center">
          <%= image_tag("avatars/magika.png", :size => "150x200") %>
        </td>
        <td width="20%" align="center">
          <%= image_tag("avatars/mechsoldier.png", :size => "150x200") %>
        </td>
      </tr>
      <tr>
        <td width="20%" align="center">
          <%= f.radio_button :avatar, "hm_hero_home" %>
        </td>
        <td width="20%" align="center"> 
          <%= f.radio_button :avatar, "lion_lt" %>
        </td>        
        <td width="20%" align="center">
          <%= f.radio_button :avatar, "arrow" %>
        </td>
        <td width="20%" align="center">
          <%= f.radio_button :avatar, "magika" %>
        </td>
        <td width="20%" align="center">
          <%= f.radio_button :avatar, "mechsoldier" %>
        </td>
      </tr>
      <tr>
        <td width="20%" align="center">
          <%= image_tag("avatars/cowboy.png", :size => "150x200") %>
        </td>
        <td width="20%" align="center">
          <%= image_tag("avatars/kitty_rt.png", :size => "150x200") %>
        </td>
        <td width="20%" align="center">
          <%= image_tag("avatars/ninjagirl_rt2.png", :size => "150x200") %>
        </td>
        <td width="20%" align="center">
          <%= image_tag("avatars/scotland_lt.png", :size => "150x200") %>
        </td>
        <td width="20%" align="center">
          <%= image_tag("avatars/healthmonster_rt.png", :size => "150x200") %>
        </td>
      </tr>
      <tr>
        <td width="20%" align="center">
          <%= f.radio_button :avatar, "cowboy" %>
        </td>
        <td width="20%" align="center"> 
          <%= f.radio_button :avatar, "kitty_rt" %>
        </td>        
        <td width="20%" align="center">
          <%= f.radio_button :avatar, "ninjagirl_rt2" %>
        </td>
        <td width="20%" align="center">
          <%= f.radio_button :avatar, "scotland_lt" %>
        </td>
        <td width="20%" align="center">
          <%= f.radio_button :avatar, "healthmonster_rt" %>
        </td>
      </tr>
      <tr>
        <td width="20%" align="center">
          <%= image_tag("avatars/techguy_lt.png", :size => "150x200") %>
        </td>
        <td width="20%" align="center">
          <%= image_tag("avatars/martian_rt.png", :size => "150x200") %>
        </td>
        <td width="20%" align="center">
          <%= image_tag("avatars/theif_home.png", :size => "150x200") %>
        </td>
        <td width="20%" align="center">
          <%= image_tag("avatars/sorcerygirl_lt.png", :size => "150x200") %>
        </td>
      </tr>
      <tr>
        <td width="20%" align="center">
          <%= f.radio_button :avatar, "techguy_lt" %>
        </td>
        <td width="20%" align="center"> 
          <%= f.radio_button :avatar, "martian_rt" %>
        </td>        
        <td width="20%" align="center">
          <%= f.radio_button :avatar, "theif_home" %>
        </td>
        <td width="20%" align="center">
          <%= f.radio_button :avatar, "sorcerygirl_lt" %>
        </td>
      </tr>
    </table>
    <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
  

