<% provide(:title, "Edit child") %> 
<br>
<h1>Update your profile</h1>

<div id="par_content">
<!--Children cannot edit their own information-->

<%= form_for(@child) do |f| %>
<!--<%= render 'shared/error_messages' %>
<div align="center">
<table width="auto" border="0" cellspacing="10" cellpadding="0" id="acct_tab">
  <tr>
    <td width="50%"><div align="right">
      <%= f.label :username %>
    </td>
    <td width="50%"><div align="left">
      <%= f.text_field :username %>
    </td>
  </tr>
  <tr>
    <td width="50%"><div align="right">
      <%= f.label :password %>
    </td>
    <td width="50%"><div align="left">
      <%= f.password_field :password %>
    </td>
  </tr>
  <tr>
    <td width="50%"><div align="right">
      <%= f.label :password_confirmation, "Confirm Password" %>
    </td>
    <td width="50%"><div align="left">
      <%= f.password_field :password_confirmation %>
    </td>
  </tr>
  <tr>
    <td width="50%"><div align="right">
      <%= f.label :age_group, "Age Group" %>
    </td>
    <td width="50%"><div align="left">
      <%= select(:child, :age_group, age_groups) %>
    </td>
  </tr>
</table>
--> 

<h3>Select an Avatar!<h3>
<br>
    <table width="100%" border="0" cellspacing="10" cellpadding="0">
      <tr>
        <td width="20%" align="center">
          <%= image_tag("avatars/hm_hero_home.png", :size => "150x200") %>
        </td>
        <td width="20%" align="center">
          <%= image_tag("avatars/lion_lt.png", :size => "150x200") %>
        </td>        
        <td width="20%" align="center">
          <%= image_tag("avatars/lion_rt.png", :size => "150x200") %>
        </td>
        <td width="20%" align="center">
          <%= image_tag("avatars/magika.png", :size => "150x200") %>
        </td>
        <td width="20%" align="center">
          <%= image_tag("avatars/mechsoldier.png", :size => "150x200") %>
        </td>
      </tr>
      <tr>
        <td width="20%" align="center">
          <%= f.radio_button :avatar, "hm_hero_home" %>
        </td>
        <td width="20%" align="center"> 
          <%= f.radio_button :avatar, "lion_lt" %>
        </td>        
        <td width="20%" align="center">
          <%= f.radio_button :avatar, "lion_rt" %>
        </td>
        <td width="20%" align="center">
          <%= f.radio_button :avatar, "magika" %>
        </td>
        <td width="20%" align="center">
          <%= f.radio_button :avatar, "mechsoldier" %>
        </td>
      </tr>
      <tr>
        <td width="20%" align="center">
          <%= image_tag("avatars/ninjagirl_lt.png", :size => "150x200") %>
        </td>
        <td width="20%" align="center">
          <%= image_tag("avatars/ninjagirl_rt.png", :size => "150x200") %>
        </td>
        <td width="20%" align="center">
          <%= image_tag("avatars/ninjagirl_rt2.png", :size => "150x200") %>
        </td>
        <td width="20%" align="center">
          <%= image_tag("avatars/scotland_lt.png", :size => "150x200") %>
        </td>
        <td width="20%" align="center">
          <%= image_tag("avatars/scotland_rt.png", :size => "150x200") %>
        </td>
      </tr>
      <tr>
        <td width="20%" align="center">
          <%= f.radio_button :avatar, "ninjagirl_lt" %>
        </td>
        <td width="20%" align="center"> 
          <%= f.radio_button :avatar, "ninjagirl_rt" %>
        </td>        
        <td width="20%" align="center">
          <%= f.radio_button :avatar, "ninjagirl_rt2" %>
        </td>
        <td width="20%" align="center">
          <%= f.radio_button :avatar, "scotland_lt" %>
        </td>
        <td width="20%" align="center">
          <%= f.radio_button :avatar, "scotland_rt" %>
        </td>
      </tr>
      <tr>
        <td width="20%" align="center">
          <%= image_tag("avatars/techguy_lt.png", :size => "150x200") %>
        </td>
        <td width="20%" align="center">
          <%= image_tag("avatars/techguy_rt.png", :size => "150x200") %>
        </td>
        <td width="20%" align="center">
          <%= image_tag("avatars/theif_home.png", :size => "150x200") %>
        </td>
      </tr>
      <tr>
        <td width="20%" align="center">
          <%= f.radio_button :avatar, "techguy_lt" %>
        </td>
        <td width="20%" align="center"> 
          <%= f.radio_button :avatar, "techguy_rt" %>
        </td>        
        <td width="20%" align="center">
          <%= f.radio_button :avatar, "theif_home" %>
        </td>
      </tr>
    </table>

    <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <!--<% end %>-->
</div>
</div>
