<% provide(:title, 'Child Signup') %>
<h1>Sign up a child</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@child) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :age_group, "Age Group" %>
      <%= select(:child, :age_group, age_groups) %>

      <%= f.submit "Create child account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>