<div id="par_content">
  <p align="center"><%= image_tag("pardash/Player-Stats-Bar_01.png", alt: "Player Stats", size: "873x28", border: "0") %></p>
  <div align="center">
    <table width="90%" border="0" cellspacing="10" cellpadding="0">
        <tr>
          <td width="30%" valign="top">
          <div align="left"><%= image_tag("spacer.gif") %><span class="par_mod_header"><%= @child.username.capitalize %></span></div>        
          <hr color="#e99723" align="left" width="95%"/>
          <div align="center" class="par_player_2">
            <p>&nbsp;</p>
            
              <% avatar = "avatars/#{@child.avatar}.png" %>
              <%= image_tag(avatar, :size => "200x300") %>
          
            <table width="100%" border="0" cellspacing="10" cellpadding="0">
              <tr>
                <td align="left"><h4>Experience Points: <%= @child.points %></h4></td>
              </tr>
              <tr>
                <td align="left"><h4>Age Group: <%= @child.age_group %></h4></td>
              </tr>
              <!--<tr>
                <td class="player_left">Badges:</td>
                <td class="player_right"><span class="player_right">&lt;&lt;##&gt;&gt;</span></td>
              </tr>-->
            </table>
            <p>&nbsp;</p>
          </div></td>
          <td width="33%" valign="top">
            <div align="left"><%= image_tag("spacer.gif") %><span class="par_mod_header">Challenges</span>
            </div>
            <hr color="#e99723" align="left" width="95%"/>
            <div align="center">
              <table width="90%" border="0" cellspacing="10" cellpadding="0">
                <tr><td><h3>Assigned Challenges</h3></td></tr>
                  <% @assigned_challenges.each do |assigned_challenge| %>
                    <tr><td width="100" align="left"><%= assigned_challenge.challenge.name %>: <%= assigned_challenge.points %>
                        </td>
                    </tr>
                  <% end %>
                  <tr><td><h3>Accepted Challenges</h3></td>
                  <% @accepted_challenges.each do |accepted_challenge| %>
                    <tr><td width="100%" align="left"><%= accepted_challenge.challenge.name %>: <%= accepted_challenge.points %>
                    </td></tr>
                  <% end %>
              </table>
            </div>

          <!--Health Meter future feature-->

          <td width="37%" valign="top">
          
          <div align="left">
            <%= image_tag("spacer.gif", width: "7px") %><span class="par_mod_header">Rewards</span>
          </div>
            <hr color="#e99723" align="left" width="95%"/>
            <div align="center">
                <table width="90%" border="0" cellspacing="10" cellpadding="0">
                  <tr><td><h3>Enabled Rewards</h3></td></tr>
                  <% @enabled_rewards.each do |enabled_reward| %>
                    <tr><td width="100%" align="left"><%= enabled_reward.reward.name %>: <%= enabled_reward.points %>
                    </td></tr>
                  <% end %>


                </table>
                <!--<p><%= image_tag("navarrow_left.jpg", alt: "previous", size: "21x35") %><%= image_tag("navarrow_right.jpg", alt: "next", size: "21x35") %></p>-->
              </div>
              <p>&nbsp;</p>
            </div></td>
        </tr>
      </table>
  </div>
</div>
<!--end #feature-->

 <!--end #content-->
