<% provide(:title, 'Enable a Reward') %>
<h1>Enable a Reward</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@enabled_reward) do |f| %>

      <h4>Select a reward</h4>

      <%= options_from_collection_for_select(@rewards, :id, :name) %>
      <%= collection_select(:enabled_reward, :reward_id, @rewards, :id, :name) %>

      <h4>Select child</h4>

      <%= options_from_collection_for_select(@children, :id, :username) %>
      <%= collection_select(:enabled_reward, :child_id, @children, :id, :username) %>

      <h4>Assign Points (9-999)</h4>
      
      <%= f.text_field(:points) %>

      <%= f.submit "Enable Reward", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
