<% provide(:title, "Create a #{@resource.type.capitalize}") %>
<h1><%= "Create a #{@resource.type.capitalize}" %></h1>

<div class="row">
  <div class="span6 offset3">
    <!--<div ng-app>
    <div ng-controller="RewardCtrl">
    <form ng-submit='createReward()'>
      <input name="reward[name]"  ng-model="reward.name" placeholder='Add name' type='text' ngMaxlength="30">
      <input name="reward[description]" ng-model="reward.description" placeholder='Add description' type='text' ngMaxlength="30">
      <button>Save</button>
    </form>
    <p>{{reward.name}}</p>
    <p>{{reward.description}}</p>
    <p>{{worked}}</p>
    </div>
    </div>-->
    <%= form_for(@resource) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <% if @resource.type == "Challenge" %>
        <label>Category</label>
        <%= collection_select(:challenge, :category_id, @categories, :id, :name) %>
      <% end %>

      <%= f.label :public, "Public?" %>
      <%= f.check_box :public %>

      <%= f.submit "Create #{@resource.type.capitalize}", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>