<br/>
<span class="par_mod_header">Set New Challenge</span>
<hr color="#e99723" align="left" width="90%"/>
<table width="86%" border="0" align="center" cellpadding="0" cellspacing="10">
  <%= render 'parents/create_new_challenge' %>
  <tr>
    <td>
      <div align="center">
        <%= link_to(image_tag("linkarrow.png", alt: "click", size: "12x10", border: "0"), challenges_community_pool_path) %>
      </div>
    </td>
    <td>
      <%= link_to("Search community challenges for ideas", challenges_community_pool_path) %>
    </td>
  </tr>
  <tr>
    <td>
      <div align="center">
        <%= link_to(image_tag("HMGold.png", alt: "click", size: "19x23", border: "0"), '#') %>
      </div>
    </td>
    <td class="hmgold_grey">Create repeating challenge</td>
  </tr>
  <tr>
    <td>
      <div align="center">
        <%= link_to(image_tag("HMGold.png", alt: "click", size: "19x23", border: "0"), '#') %>
      </div>
    </td>
    <td class="hmgold_grey">HealthMonster Recommends</td>
  </tr>
</table>
