<div ng-app="healthmonster" id="par_content">
  <div ng-controller="DashCtrl">
    <div>
    </div>
    <p align="center">
      <%= image_tag("pardash/Action-Items-Bar_01.png", size: "872x28", alt: "Action Items") %>
    </p>
    <div align="center">
      {{selected.child.id}}<br/>
      {{selected.task}}
      <br/>
      <table width="880" border="0" cellspacing="10" cellpadding="10" >
        <tr>
          <td width="420"  align="left" valign="top">
            <%= render 'parents/select_player' %>
          </td>
          <td width="398"  align="left" valign="top">
            <%= render 'parents/challenge_validation' %>
          </td>
        </tr>
        <tr>
          <td width="420" align="left" valign="top">
            <%= render 'parents/set_new_challenge' %>
          </td>
          <td align="left" valign="top">
            <%= render 'parents/offer_reward' %>
          </td>
        </tr>
      </table>
    </div>
    <p align="center">&nbsp;</p>
  </div>
</div>
<!--end #feature-->

<!--end #content-->
