<div id="par_content">
  <div id="avatarbase_contact">
    <div id="right_avatar_acct">
      <%= image_tag("avatars/techguy_lt.png", :size => "267x355") %>
    </div>
  </div><!--end #avatarbase-->


  <p align="center">
    <%= image_tag("AccountSettings_01.png", :size => "873x28") %></p>
<br />
<%= form_for(@parent) do |f| %>
<%= render 'shared/error_messages' %>
<div align="center">
<table width="auto" border="0" cellspacing="10" cellpadding="0" id="acct_tab">
  <tr>
    <td width="15%"><div align="right">
      <%= f.label :name %>
    </td>
    <td width="85%"><div align="left">
      <%= f.text_field :name %>
    </td>
  </tr>
  <tr>
    <td width="15%"><div align="right">
      <%= f.label :email %>
    </td>
    <td width="85%"><div align="left">
      <%= f.text_field :email %>
    </td>
  </tr>
  <tr>
    <td width="15%"><div align="right">
      <%= f.label :password %>
    </td>
    <td width="85%"><div align="left">
      <%= f.password_field :password %>
    </td>
  </tr>
  <tr>
    <td width="15%"><div align="right">
     <%= f.label :password_confirmation, "Confirm Password" %>
    </td>
    <td width="85%"><div align="left">
     <%= f.password_field :password_confirmation %>
    </td>
  </tr>
  <tr>
    <td width="15%" align="right" valign="top">Children
    </td>
    <td>
      <% @children.each do |child| %>
      <%= child.username %>
      <b><%= link_to "Edit", "/children/#{child.id}/edit" %></b>
      <b><%= link_to "Delete", child, method: :delete,
                                  data: { confirm: "Are you sure you want to permanently delete this child and all of its data? This operation is irreversible." } %></b>
      <br>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
      <h4><%= link_to "Sign up a child", new_child_path %></h4>
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
      <%= f.submit "Save changes", class: "btn btnlarge btn-primary" %>
    </td>
  </tr>
</table>


<% end %>
</div>

  <p align="center">&nbsp;</p>
  <p align="center">&nbsp;</p>
  </div>
<!--end #feature-->

 <!--end #content-->



</div> <!--end #wrap-->