<% provide(:title, @parent.name) %>
<h1>
  <%= gravatar_for @parent %>
  <%= @parent.name %>
</h1>

<h4>Assigned Challenges</h4>
<ol>
  <% @assigned_challenges.each do |assigned_challenge| %>
    <li><b>Challenge: </b><%= assigned_challenge.challenge.name %><b> Child: </b> <%= assigned_challenge.child.username %><b> Category: </b><%= assigned_challenge.category.name %>
    </li>
  <% end %>
</ol>
<br>
<h4>Accepted Challenges</h4>
<ol>
  <% @accepted_challenges.each do |accepted_challenge| %>
    <li><b>Challenge: </b><%= accepted_challenge.challenge.name %><b> Child: </b> <%= accepted_challenge.child.username %><b> Category: </b><%= accepted_challenge.category.name %>
    </li>
  <% end %>
</ol>
<br>
<h4>Completed Challenges</h4>
<ol>
  <% @completed_challenges.each do |completed_challenge| %>
    <li><b>Challenge: </b><%= completed_challenge.challenge.name %><b> Child: </b> <%= completed_challenge.child.username %><b> Category: </b><%= completed_challenge.category.name %>
      <%= form_for completed_challenge, :method => "put" do |f| %>

        <%= f.hidden_field :validated, value: true %>
        <%= f.hidden_field :completed, value: false %>
        <%= f.hidden_field :accepted, value: false %>

        <%= f.submit "Validate" %>
      <% end %>
    </li>
  <% end %>
</ol>
<br>
<h4>Validated Challenges</h4>
<ol>
  <% @validated_challenges.each do |validated_challenge| %>
    <li><b>Challenge: </b><%= validated_challenge.challenge.name %><b> Child: </b> <%= validated_challenge.child.username %><b> Category: </b><%= validated_challenge.category.name %>
    </li>
  <% end %>
</ol>
<br>
<h4>Rejected Challenges</h4>
<ol>
  <% @rejected_challenges.each do |rejected_challenge| %>
    <li><b>Challenge: </b><%= rejected_challenge.challenge.name %><b> Child: </b> <%= rejected_challenge.child.username %><b> Category: </b><%= rejected_challenge.category.name %>
    </li>
  <% end %>
</ol>
<br>
<h4>Enabled Rewards</h4>
<ol>
  <% @enabled_rewards.each do |enabled_reward| %>
    <li><b>Reward: </b><%= enabled_reward.reward.name %><b> Child: </b> <%= enabled_reward.child.username %>
    </li>
  <% end %>
</ol>