<% provide(:title, @parent.name) %>
<h1>
  <%= gravatar_for @parent %>
  <%= @parent.name %>
</h1>

<h4>Assigned Challenges</h4>
<ol>
  <% @assigned_challenges.each do |assigned_challenge| %>
    <li><%= assigned_challenge.challenge.name %>
    </li>
  <% end %>
</ol>
<br>
<h4>Accepted Challenges</h4>
<ol>
  <% @accepted_challenges.each do |accepted_challenge| %>
    <li><%= accepted_challenge.challenge.name %>
    </li>
  <% end %>
</ol>
<br>
<h4>Completed Challenges</h4>
<ol>
  <% @completed_challenges.each do |completed_challenge| %>
    <li><%= completed_challenge.challenge.name %>
      <%= form_for completed_challenge, :method => "put" do |f| %>

      <%= f.hidden_field :validated, :value => true %>
      <%= f.hidden_field :completed, :value => false %>
      <%= f.hidden_field :accepted, :value => false %>

      <%= f.fields_for :child, :method => "put" do |n| %>

        <%= n.hidden_field :points, :value => completed_challenge.points %>
      <% end %>

      <%= f.submit "Validate" %>
      <% end %>
    </li>
  <% end %>
</ol>
<br>
<h4>Validated Challenges</h4>
<ol>
  <% @validated_challenges.each do |validated_challenge| %>
    <li><%= validated_challenge.challenge.name %>
    </li>
  <% end %>
</ol>
<br>
<h4>Rejected Challenges</h4>
<ol>
  <% @rejected_challenges.each do |rejected_challenge| %>
    <li><%= rejected_challenge.challenge.name %>
    </li>
  <% end %>
</ol>
<br>
<h4>Enabled Rewards</h4>
<ol>
  <% @enabled_rewards.each do |enabled_reward| %>
    <li><%= enabled_reward.reward.name %>
    </li>
  <% end %>
</ol>